body{
    background-color: gray;
    margin: 0px;
    padding: 0px;
    height: 180vh;
    width: 240vh;
}

.pai{
    margin: 150px;
    background: green;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: relative;
}

.filho{
    width: 150px;
    height: 150px;
    top: 75px;
    left: 75px;
    border: 1px solid black;
    position: relative;
    background: blue;
    
}

.paragrafo{
    width: 600px;
    margin: 20px;
    color: black;
    /* font-family: 'Open Sans', 'Montserrat', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 170%;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
    text-decoration: line-through underline;
    box-shadow: 10px 5px 5px black;
    text-shadow: 6px 4px 2px rgb(71, 69, 69), 10px 4px 2px rgb(71, 132, 136); 
}



